<mat-toolbar color="primary">
	<div class="margin-24">
		<span class="title">Tuxa Test App</span>
	</div>
	<div class="margin-24">
		<a mat-raised-button color="accent" style="margin-left: 16px;" href="https://www.npmjs.com/package/tuxa" target="_blank">
			Tuxa <img class="img-24" src="../assets/img/npm.svg"/>
		</a>
		<a mat-raised-button color="accent" style="margin-left: 16px;" href="https://github.com/JasonMejane/tuxa#readme" target="_blank">
			Tuxa <img class="img-24" src="../assets/img/GitHub-Mark-32px.png"/>
		</a>
		<a mat-raised-button color="accent" style="margin-left: 16px;" href="https://github.com/JasonMejane/tuxa-demo-app#readme" target="_blank">
			Demo App<img class="img-24" src="../assets/img/GitHub-Mark-32px.png"/>
		</a>
	</div>
</mat-toolbar>

<div class="content">
	<div class="info">
		<h2 class="area-title">
			Experiment with those tracked behaviours and flow!
		</h2>

		<div class="menu-container">
			<button
				id="menuRageClickButton"
				mat-raised-button
				color="{{ cSel === 'rage-click' ? 'accent' : 'primary' }}"
				(click)="selectC('rage-click')"
			>
				Rage click
			</button>
			<button
				id="menuCursorTrashingButton"
				mat-raised-button
				color="{{ cSel === 'cursor-trashing' ? 'accent' : 'primary' }}"
				(click)="selectC('cursor-trashing')"
			>
				Cursor trashing
			</button>
			<button
				id="menuRandomScrollingButton"
				mat-raised-button
				color="{{ cSel === 'random-scrolling' ? 'accent' : 'primary' }}"
				(click)="selectC('random-scrolling')"
			>
				Random scrolling
			</button>
			<button
				id="menuFlowTrackerButton"
				mat-raised-button
				color="{{ cSel === 'flow-tracker' ? 'accent' : 'primary' }}"
				(click)="selectC('flow-tracker')"
			>
				Flow tracker
			</button>
		</div>
	</div>
</div>

<div class="content">
	<mat-card class="exp-card" *ngIf="cSel === 'rage-click'">
		<h3>Rage click</h3>
		<p>
			Happens when a user clicks or taps repeatedly on an element.
			<br />
			Often caused by a slow or not repsonding app. The user has no idea
			what is going on nor if the app has crashed or not.
		</p>
	</mat-card>
	<mat-card class="exp-card" *ngIf="cSel === 'cursor-trashing'">
		<h3>Cursor trashing</h3>
		<p>
			Happens when a user moves the pointer with no purpose while waiting
			for something to load for example.
			<br />
			Often caused by too long loading time, or lack or information on
			progression, or trying to realize a task expected to be quick.
		</p>
	</mat-card>
	<mat-card class="exp-card" *ngIf="cSel === 'random-scrolling'">
		<h3>Random scrolling</h3>
		<p>
			Happens when a user go quickly through a long scrolling content,
			sometimes back and forth.
			<br />
			Often cause by too much content, loosing the user who can't find
			what he is looking for, or when the content/action the user wants to
			reach is too far away (no Back to top button, or action button at
			the bottom of a long content).
		</p>
	</mat-card>
	<mat-card class="exp-card" *ngIf="cSel === 'form-abandonment'">
		<h3>Form abandonment</h3>
		<p>
			Happens when a user doesn't finish and submit a form.
			<br />
			Often caused by confusing fields or too much info asked.
		</p>
	</mat-card>
	<mat-card class="exp-card" *ngIf="cSel === 'flow-tracker'">
		<h3>Flow tracker</h3>
		<p>
			Maybe you need more information about a given flow. What do your
			users do ?
			<br />
			Tuxa's flow tracker can track user actions between start and end
			points for a given flow.
		</p>
	</mat-card>
</div>

<div class="content">
	<div class="test-zone">
		<h2 class="area-title">TEST AREA</h2>
		<app-rage-click *ngIf="cSel === 'rage-click'"></app-rage-click>
		<app-cursor-trashing
			*ngIf="cSel === 'cursor-trashing'"
		></app-cursor-trashing>
		<app-random-scrolling
			*ngIf="cSel === 'random-scrolling'"
		></app-random-scrolling>
		<app-flow-tracker
			*ngIf="cSel === 'flow-tracker'"
		></app-flow-tracker>
	</div>

	<div class="log-zone">
		<h2 class="area-title">ANALYSIS</h2>
		<div id="analysisLog" class="log-box">
			<wrapper-table
				[dataSource]="dataSource"
				[columns]="displayedColumns"
				matSort
				#sort="matSort"
			>
				<ng-container matColumnDef="date">
					<th mat-header-cell *matHeaderCellDef>Date</th>
					<td mat-cell *matCellDef="let element">{{ element.date | date:'H:mm:ss.SSS' }}</td>
				</ng-container>

				<ng-container matColumnDef="type">
					<th mat-header-cell *matHeaderCellDef>Name</th>
					<td mat-cell *matCellDef="let element">{{ element.type }}</td>
				</ng-container>

				<ng-container matColumnDef="id">
					<th mat-header-cell *matHeaderCellDef>ID</th>
					<td mat-cell *matCellDef="let element">{{ element.id }}</td>
				</ng-container>

				<ng-container matColumnDef="textContent">
					<th mat-header-cell *matHeaderCellDef>Text content</th>
					<td mat-cell *matCellDef="let element">{{ element.textContent }}</td>
				</ng-container>

				<ng-container matColumnDef="url">
					<th mat-header-cell *matHeaderCellDef>URL</th>
					<td mat-cell *matCellDef="let element">{{ element.url }}</td>
				</ng-container>

				<!-- Custom row definitions to be provided to the wrapper table. -->
				<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
				<tr	mat-row	*matRowDef="let row; columns: displayedColumns"></tr>

				<!-- Row shown when there is no matching data that will be provided to the wrapper table. -->
				<tr class="mat-row" *matNoDataRow>
					<td class="mat-cell" colspan="4">No data</td>
				</tr>
			</wrapper-table>
		</div>
		<button
			id="clearLogsButton"
			class="margin-top-16"
			mat-raised-button
			color="warn"
			(click)="clearLogs()"
		>
			Clear
		</button>
	</div>
</div>
